version: "3.9"

services:
  db:
    image: postgres:15
    container_name: swiftticket_db
    environment:
      POSTGRES_PASSWORD: kirmada
      POSTGRES_DB: Swift-Ticket
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: swiftticket_backend
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data:
